* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #0D1117;
  color: white;
}

body.confirmacao .container {
  background-color: #0D1117;
}

.quadradomeio {
  background-color: #161B22;
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo {
  width: 250px;
  display: block;
  margin: 0 auto 20px;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 15px;
  font-size: 0.95rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  color: white;
  font-size: 1rem;
}

input[type="file"] {
  cursor: pointer;
}

input:focus {
  outline: none;
  background-color: #161B22;
}

.termos {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  margin: 15px 0;
}

.termos input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.termos a {
  color: #00C2FF;
  text-decoration: none;
}

.botao-voltar {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 12px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 6px;
  transition: background-color 0.1s, color 0.1s;
  cursor: pointer;
}

.botao-voltar:hover {
  background-color: whitesmoke;
  color: black
 }

a.botao {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #00C2FF;
  color: black;
  text-decoration: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.1s ease;
  margin-top: 10px;
  cursor: pointer;
}

a.botao:hover {
  background-color: whitesmoke;
}

@media (max-width: 600px) {
  .quadradomeio {
    padding: 1.5rem;
  }

  .logo {
    width: 100px;
    margin-bottom: 13px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="file"],
  input[type="tel"] {
    font-size: 0.95rem;
  }

  .botao {
    padding: 10px;
    font-size: 0.95rem;
  }
}
