/* === DOCUMENT CARDS === */
.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

.card-container {
    width: 250px;
    margin-bottom: 30px;
}

.card {
    background-color: var(--bg-color);
    border: 1px solid var(--primary-accent);
    border-radius: 8px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: all 0.3s ease;
}

.thumbnail-container {
    height: 120px; /* Altura fixa de 150 pixels */
    margin: 5px; /* Espaço de 10px abaixo do contêiner (para separar de outros elementos) */
    display: flex; /* Torna o contêiner um flexbox para alinhar itens filhos */
    align-items: center; /* Alinha verticalmente os itens filhos ao centro */
    justify-content: center; /* Alinha horizontalmente os itens filhos ao centro */
    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse os limites do contêiner */
    border-radius: 8px; /* Arredonda os cantos com raio de 8px */
    background-color: #f5f5f5; /* Define uma cor de fundo cinza claro */
  }

.document-thumbnail {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: all 0.3s ease;
}

.card-info {
    margin-top: 10px;
    color: var(--text-color);
}

.card-info h3 {
    font-size: 18px;
    margin: 10px 0 5px 0;
}

.status {
    font-style: italic;
    font-size: 14px;
}

/* === INTERACTIVE ELEMENTS === */
.pdf-link:hover .document-thumbnail {
    opacity: 0.9;
    transform: scale(1.02);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:hover .card-info h3 {
    color: var(--primary-accent);
}

.finalizado {
    color: var(--status-finalizado);
  }
  
  .expirado {
    color: var(--status-expirado);
  }
  
  .pendente {
    color: var(--status-pendente);
  }

/* === RESPONSIVIDADE DOCUMENTOS === */
@media (max-width: 768px) {
    .cards-wrapper {
        justify-content: center;
    }
}